/* Resets  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* container  */

.container {
  padding-inline: 10%;
  margin-inline: auto;
}

/* navbar  */

.navbar {
  height: 10vh;
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.list {
  display: flex;
  gap: 50px;
  list-style: none;
}

/* Main area  */

.main-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left area  */

.heading {
  width: 75%;
  font-size: 3rem;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

/* button  */

.btn-primary {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #3b855b;
  color: #fff;
  font-weight: 500;
}
