/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar  */

.navbar-container {
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grow-list {
  flex-basis: 65%;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  font-weight: normal;
  color: #cccccc;
}

.list-item:first-child {
  color: #000;
}

.nav-button {
  font-size: 1rem;
  border: none;
  padding: 15px 30px;
  background-color: #5955b3;
  color: #fff;
  border-radius: 5px;
}

/* Banner  */

.banner-container {
  padding-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.heading-text {
  font-size: 4rem;
  font-weight: 700;
  color: #3c2f60;
  margin-bottom: 25px;
  /* font-family: sans-serif; */
}

.heading-text span {
  color: #5955b3;
}

.description {
  width: 62%;
  margin-bottom: 25px;
}
img[alt="illustration"] {
  width: 700px;
}

/* Media queries */

@media screen and (max-width: 900px) and (min-width: 600px) {
  .navbar-container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-button {
    padding-inline: 100px;
  }

  /* Banner  */
  .banner-container {
    padding: 1%;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .heading-text {
    text-align: center;
  }
  .description {
    width: 100%;
    text-align: center;
  }

  img[alt="illustration"] {
    width: 100%;
  }
}
@media screen and (max-width: 599px) and (min-width: 320px) {
  .navbar-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-button {
    padding-inline: 100px;
  }

  .list {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  /* Banner  */
  .banner-container {
    padding: 1%;
    margin-top: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .heading-text {
    font-size: 3em;
    text-align: center;
  }
  .description {
    width: 100%;
    text-align: center;
  }

  img[alt="illustration"] {
    width: 100%;
  }
}
